@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-white\/80 {
  background-color: transparent;
}

.success-toast {
  background-color: #0f172a;
  font-weight: 700;
}

.error-toast {
  background-color: #d21a1d;
  border-color: #df2023;
  color: white;
  font-weight: 700;
}

.loader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
}
